* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: #FF6900;
    min-width: 100%;
    padding: 3px;
    position: fixed;
    z-index: 1;
}

.header-container {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.people {
    font-size: 13px;
}

#man,
#woman {
    margin-right: 7px;
}

img {
    width: 100%;
}

.logo {
    width: 100px;
    margin-top: 5px;
}

#user {
    margin-right: 5px;
}

#heart {
    margin-right: 6.3px;
}

.container {
    width: 1200px;
    margin: auto;
    padding: 50px;
    height: 1350px;
}

.row {
    margin-top: 50px;
}

.block {
    position: relative;
    margin: 10px;
    float: left;
    width: calc(100% / 3 - 20px);
}

.image:hover .first-image {
    display: none;
}

.image:hover .second-image {
    display: block;
}

.first-image {
    display: block;
}

.second-image {
    display: none;
}

.heart {
    width: 40px;
    text-align: center;
    background-color: #fff;
    color: #000;
    position: absolute;
    font-size: 2rem;
    top: 5px;
    right: 0;
}

.heart:hover {
    color: red;
}

.discount-badge {
    font-size: 13px;
    background-color: red;
    padding: 3px;
    color: #fff;
    position: absolute;
    bottom: 95px;
    left: 0;
}

.sustainability {
    background-color: green;
    color: #fff;
    position: absolute;
    padding: 3px;
    font-size: 13px;
    bottom: 95px;
    left: 40px;
}

#sixth-block-sustainability {
    background-color: green;
    color: #fff;
    position: absolute;
    padding: 3px;
    font-size: 13px;
    bottom: 95px;
    left: 0px;
}

.brand {
    font-size: smaller;
}

.item {
    font-size: 15px;
    margin-bottom: -3px;
}

.discounted-price {
    color: red;
    font-size: smaller;
}

.original-price {
    text-decoration: line-through;
    font-size: smaller;
}

.second-row {
    float: left;
    margin-top: 25px;
}

.footer-container {
    background-color: #1a1a1a;
    height: 100px;
    padding: 30px 0;
    margin-top: -50px;
}

.left-side-footer {
    margin-left: 140px;
    float: left;
}

.footer-text {
    color: #fff;
    margin-bottom: 4px;
    font-size: 17px;
}

.left-footer-links {
    font-size: smaller;
}

.right-footer-links {
    margin-left: 8px;
}

.right-side-footer {
    float: right;
    margin-right: 150px;
}

.sub-footer-links {
    margin-right: 5px;
}